

body{
    color:black;
    background-image: url(..//images/i1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


div,p,pre{
    font-size: x-large;
}